@model WebApplication909.Areas.Admin.Models.RoleViewModel
@{
    ViewData["Title"] = "Редактирование роли";
}

<div class="container">
    <h2 class="text-success">Редактирование роли</h2>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>