@model OnlineShop.Db.Models.Product
@{
    ViewData["Title"] = "Добавление товара";
}

<div class="container">
    <h2 class="text-success">Добавить новый товар</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cost" class="form-label"></label>
            <input asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="uploadedFile" class="form-label">Изображение</label>
            <input type="file" name="uploadedFile" class="form-control" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>